<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d [%-5level][%t][%c][%X{tenant}][%X{requestId}] %m%n</Pattern>
		</encoder>
	</appender>

	<logger name="javax.validation" level="info" />
	
	<logger name="org.springframework.beans.factory" level="warn"/>
	<logger name="org.springframework.transaction" level="info" />
	<logger name="org.springframework.validation" level="info" />

	<logger name="com.hybris.oms" level="info" />

	
	<logger name="org.apache.http.wire" level="debug" />
	<logger name="org.apache.http.headers" level="debug" />
	
	<root level="debug">
		<appender-ref ref="STDOUT"/>
	</root>
	
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    	<resetJUL>true</resetJUL>
  	</contextListener>
</configuration>
