<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true">
	<absolute-ordering />

	<display-name>${web.display.name}</display-name>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
 
 	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>hybris.service.oms</param-name>
		<param-value>/webresources</param-value>
	</context-param>
	
		<context-param>
		<param-name>contextInitializerClasses</param-name>
		<param-value>com.hybris.oms.rest.web.OmsPropertySourceApplicationContextInitializer</param-value>
	</context-param>
	
	<context-param>
		<param-name>propertiesFile</param-name>
		<param-value>com.hybris.oms_oms-ext-web.properties</param-value>
	</context-param>

	<!-- we might should map the filters to /webresources ? -->
	<filter>
	    <filter-name>contextInitFilter</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>contextInitFilter</filter-name>
		<url-pattern>/webresources/*</url-pattern>
	</filter-mapping>

	<!-- spring security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/webresources/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>InitApp Rest Servlet</servlet-name>
		<servlet-class>com.hybris.kernel.initapp.servlet.InitAppRestServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/META-INF/initapp-rest-servlet-spring.xml</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.hybris.kernel.initapp.exceptions.mappers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.feature.DisableXmlSecurity</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>com.hybris.kernel.initapp.filters.InitAppRestFilter</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitApp Rest Servlet</servlet-name>
		<url-pattern>/init-app-rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InitApp Web Servlet</servlet-name>
		<servlet-class>com.hybris.kernel.initapp.servlet.InitAppWebServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/META-INF/initapp-web-servlet-spring.xml</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.feature.DisableXmlSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>InitApp Web Servlet</servlet-name>
		<url-pattern>/init-app-web/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Oms Web Services</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.feature.DisableXmlSecurity</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.hybris.oms</param-value>
		</init-param>

		<init-param>
			<param-name>com.sun.jersey.config.feature.Formatted</param-name>
			<param-value>true</param-value>
		</init-param>
		
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/META-INF/oms-ext-web-servlet-spring.xml</param-value>
		</init-param>

   		<init-param>
       		<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
       		<param-value>com.hybris.oms.rest.web.log.WSLoggingFilter</param-value>
   		</init-param>
   		<init-param>
       		<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
       		<param-value>com.hybris.oms.rest.web.log.WSLoggingFilter</param-value>
   		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Oms Web Services</servlet-name>
		<url-pattern>/webresources/*</url-pattern>
	</servlet-mapping>
	
    <session-config>
  		<session-timeout>20</session-timeout>
	</session-config>

</web-app>
